#editorH3{
margin: 0;
}

#ediTitContainer{
    width: 100%;
}
#editorTitolo{
width: 50%;
font-size: 200%;
}
#editorDescArt{
resize: none;
font-size: 90%;
float: right;
width: 40%;
height: 20vh;
}
#editorImmagine{
background-color: white;
width: 50%;
height: 10em;
justify-content: center;
display: flex;
align-items: center;
border: 1px black solid;
}
#editorInputs{
width: 100%;
display: flex;
}
#editorInputImg{
font-size: 100%;
}
#editorImgArt{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}
#editorContainer{
    min-height: 35vh;
    max-height: 35vh;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    width: 45%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    background-color: rgb(125,127,126);
    border-radius: 20px;
    transition: background-color 0.5s;
}
#editorContainer article{
    width: 100%;
}



#bodyArticolo{
width: 80%;
margin-left: auto;
margin-right: auto;
}
#formArticolo{
min-height: 60vh;
margin-left: auto;
margin-right: auto;
margin-bottom: 10vh;
margin-top: 10vh;
background-color: rgb(204, 199, 196);
border: solid rgb(125,127,126) 2px;
border-radius: 20px;
}
#h3formArticolo{
font-size: 300%;
}
.paragrafo{
width: 100%;
display: inline-flex;
flex-wrap: wrap;
border-bottom: solid rgb(125,127,126) 2px;
}
.paragrafoContent{
    font-size: 150%;
    resize: none;
    text-align: start;
    min-height: 30vh;
    width: 66%;
    padding-left: 3%;
}
.paragrafoTitle{
    font-size: 200%;
}
.paragrafoText{
    text-align: start;
    font-size: 150%;
}

.onputImgContainer{
    width: 100%;
}

.immagini{
width: 30%;
}
.immagine{
    max-width:100%;
    max-height: 20vh;
}
.imgPar{
margin-left: auto;
max-width: 100%;
max-height: 20vh;
border-radius: 10px;
}
.insertImgDiv{
    width: 15%;
}
.insertImgBtn{
    background-color: grey;
    font-size: 200%;
    padding: 0 1vw;
}
.insertParag{
    background-color: grey;
    font-size: 200%;
    padding: 0 1vw;
}
.delBtn{
    background-color: red;
    font-size: 200%;
    padding: 0 1vw;
}
.delBtnImg{
    background-color: red;
    font-size: 200%;
    padding: 0 1vw;
}
.changePos{
    background-color: grey;
    font-size: 150%;
    padding: 0 1vw;
}
.subTitle{
    width: 80%;
    font-size:250%;
    margin-left: auto;
    margin-right: auto;
}
.subTitleContainer{
    width: 100%;
}

#eliminaArt{
    float: right;
    background-color: red;
    padding: 0 1vw;
}