#editorH3{
margin: 0;
}

#ediTitContainer{
    width: 100%;
    }
#editorTitolo{
width: 50%;
font-size: 200%;
}
#editorDescArt{
resize: none;
font-size: 90%;
float: right;
width: 40%;
height: 20vh;
}
#editorImmagine{
background-color: white;
width: 50%;
height: 10em;
justify-content: center;
display: flex;
align-items: center;
border: 1px black solid;
}
#editorInputs{
width: 100%;
display: flex;
}
#editorInputImg{
font-size: 100%;
}
#editorImgArt{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}
#editorContainer{
    min-height: 35vh;
    max-height: 35vh;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    width: 45%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    background-color: rgb(125,127,126);
    border-radius: 20px;
    transition: background-color 0.5s;
}