#content{
background-color: rgb(204, 199, 196);
margin-right: auto;
margin-left: auto;
width: 80%;
}
#introduction h3{
font-size: 200%;
color: rgb(81, 89, 91);
}
#introduction h1{
color: #1a1a1a;
}
#articles{
top: 0;
background-color: rgb(204, 199, 196);
display: flex;
flex-wrap: wrap;
}
/*new e main*/
#titoli{
width: 100%;
display: flex;
}
#titoli h4{
font-size: 300%;
color:#1a1a1a;
width: 50%;
}
/*altri articoli*/
#otherArticles h2{
margin-top: 40px;
color: #1a1a1a;
}
#otherArticles div p{
white-space: normal;
}
#container{
height: 50%;
overflow:hidden;
white-space: nowrap;
}

.descArtPrinc{
height: 25vh;
font-size: 150%;
width: 50%;
}

.descArtSec{
height: 25vh;
font-size: 100%;
width: 50%;
}

#titleArtPrinc{
font-size: 250%;
width: 100%;
margin:1vh 0;
}
#titleArtSec{
font-size: 200%;
width: 100%;
margin:1vh 0;
}

#ediTitContainer{
width: 100%;
}

#immagine{
width: 50%;
height: 10em;
justify-content: center;
display: flex;
align-items: center;
}
#imgArt{
max-width: 100%;
max-height: 100%;
border-radius: 10px;
}

#main{
min-height: 35vh;
max-height: 35vh;
text-overflow: ellipsis;
overflow: hidden;
display: inline-flex;
align-items: center;
flex-wrap: wrap;
width: 45%;
margin-right: 2.5%;
margin-left: 2.5%;
background-color: rgb(125,127,126);
border-radius: 20px;
transition: background-color 0.5s;
}

#main:hover{
background-color: rgb(81, 89, 91);
}

#new{
min-height: 35vh;
max-height: 35vh;
text-overflow: ellipsis;
overflow: hidden;
display: inline-flex;
align-items: center;
flex-wrap: wrap;
width: 45%;
margin-right: 2.5%;
margin-left: 2.5%;
background-color: rgb(125,127,126);
border-radius: 20px;
transition: background-color 0.5s;
}

#new:hover{
background-color: rgb(81, 89, 91);
}
.top{
height: 30vh;
text-overflow: ellipsis;
overflow: hidden;
display: inline-flex;
align-items: flex-start;
flex-wrap: wrap;
width: 28%;
margin-right: 2.5%;
margin-left: 2.5%;
background-color: rgb(125,127,126);
border-radius: 20px;
transition:  background-color 0.5s;
}

.top:hover{
background-color: rgb(81, 89, 91);
}

#otherArticles{
width: 100%;
height: fit-content;
overflow:hidden;
}

#console{
margin-left: auto;
margin-right: auto;
padding: 2%;
}

.move {
border-radius: 8px;
border: 1px solid transparent;
padding: 0.6em 1.2em;
font-size: 1em;
font-weight: 500;
font-family: inherit;
background-color: rgb(81, 89, 91);
cursor: pointer;
transition: border-color 0.25s;
}
.move:hover {
border-color: black;
}
.move:focus,
.move:focus-visible {
outline: 4px auto -webkit-focus-ring-color;
}

.round{
background-color: grey;
border-radius: 3vh;
margin: 0 0.5vh 0 0.5vh;
}